{% extends 'frontpage.html' %}
{% block title %}Pengajuan Akta Kematian{% endblock %}

{% block head %}
    {{ super() }}
    
    <style>
        .content {
            padding: 20px 0;
        }
        
        .stepwizard-step p {
            margin-top: 10px;
        }

        .stepwizard-row {
            display: table-row;
        }

        .stepwizard {
            display: table;
            width: 100%;
            position: relative;
        }

        .stepwizard-step button[disabled] {
            opacity: 1 !important;
            filter: alpha(opacity=100) !important;
        }

        .stepwizard-row:before {
            top: 14px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 100%;
            height: 1px;
            background-color: #ccc;
            z-order: 0;

        }

        .stepwizard-step {
            display: table-cell;
            text-align: center;
            position: relative;
        }
        
        .stepwizard-step .btn {
            opacity: 1 !important;
        }

        .btn-circle {
          width: 30px;
          height: 30px;
          text-align: center;
          padding: 6px 0;
          font-size: 12px;
          line-height: 1.428571429;
          border-radius: 15px;
        }
    </style>
    
    <script>
        $(document).ready(function () {
            var navListItems = $('div.step-header div a'),
                    allWells = $('.step-content'),
                    allNextBtn = $('.btn-next');

            allWells.hide();

            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                        $item = $(this);

                if (!$item.hasClass('disabled')) {
                    navListItems.removeClass('btn-primary').addClass('btn-default');
                    $item.addClass('btn-primary');
                    allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
                }
            });

            allNextBtn.click(function(){
                var curStep = $(this).closest(".step-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.step-header div a[href="#' + curStepBtn + '"]').parent().next().children("a");
                    
                nextStepWizard.removeAttr('disabled').trigger('click');
            });
            
            $(".tipe-aktamati").hide()
            $('input[name=tipe-aktamati]').on('change', function() {
                var tipe = $(this).val();
                
                $(".tipe-aktamati").hide()
                $("#tipe-aktamati-" + tipe).show()
            });
            
            var i = 1
            $("#add_row").click(function(){
                $('#tabel_anggota tbody').append("<tr><td>"+ (i+1) +"</td><td><input name='nik_anggota[]' type='text' placeholder='NIK' class='form-control input-md'  /> </td><td><input  name='nama_anggota[]' type='text' placeholder='Nama Anggota'  class='form-control input-md'></td><td><input  name='sdhk_anggota[]' type='text' placeholder='SDHK Anggota'  class='form-control input-md'></td></tr>");
            });

            $('div.step-header div a.btn-primary').trigger('click');
        });
    </script>
{% endblock %}

{% block content %}
<div class="container content">
    <form role="form" method="POST" action="{{ url_for('death_certificate.kirimregistrasi') }}">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <h3>Registrasi</h3>
                    <p>
                    Silakan masukkan alamat email Anda yang masih aktif.
                    Link untuk mendaftar akan disertakan dalam email.
                    </p>
                    
                </div>
            </div>
        
            <div class="col-xs-12">
                <div class="col-md-12">
                    <p>NIK:</p>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-ok"></i></span>
						<input type="text" name="nik" class="form-control" placeholder="NIK" aria-describedby="basic-addon1" />
					</div>              
					<p>Alamat Email:</p>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-ok"></i></span>
						<input type="text" name="email" class="form-control" placeholder="user@mail" aria-describedby="basic-addon1" />
					</div>               
					<button class="btn btn-success pull-right" type="submit">Kirim link</button>
				</div>
			</div>
      
        
    </form>
</div>
{% endblock %}