{% if use_template: %}
  {% extends 'frontpage.html' %}
  {% block title %}Pembuatan KK{% endblock %}
{% endif %}

{% block head %}
  {% if use_template: %}
    {{ super() }}
  {% endif %}

  <link href="{{ url_for('static', filename='assets/checkbox-awesome/build.css') }}" rel="stylesheet">
  <style>
    .content {
      padding: 20px 0;
    }        
    .stepwizard-step p {
      margin-top: 10px;
    }
    .stepwizard-row {
      display: table-row;
    }
    .stepwizard {
      display: table;
      width: 100%;
      position: relative;
    }
    .stepwizard-step button[disabled] {
      opacity: 1 !important;
      filter: alpha(opacity=100) !important;
    }
    .stepwizard-row:before {
      top: 14px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #ccc;
      z-order: 0;
    }
    .stepwizard-step {
      display: table-cell;
      text-align: center;
      position: relative;
    }        
    .stepwizard-step .btn {
      opacity: 1 !important;
    }
    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }
    .step-content {
      text-align: center;
    }
    .step-content .choice {
      text-align: center;
      cursor: pointer;
      margin-top: 20px;
    }
    .step-content .choice input[type="radio"], .step-content .choice input[type="checkbox"] {
      position: absolute;
      left: -10000px;
      z-index: -1;
    }
    .step-content .choice .icon {
      text-align: center;
      vertical-align: middle;
      height: 116px;
      width: 116px;
      border-radius: 50%;
      background-color: #999999;
      color: #FFFFFF;
      margin: 0 auto 20px;
      border: 4px solid #CCCCCC;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
    }
    .step-content .choice i {
      font-size: 30px;
      line-height: 111px;
    }
    .step-content .choice.active .icon {
      border-color: #2CA8FF;
    }
    .tipe-kk .option {
      text-align: left;
    }
    .modal-body{overflow-y: inherit;}
  </style>
{% endblock %}

{% block content %}
  <div class="container content">
    <div class="stepwizard">
      <div class="stepwizard-row step-header">
        <div class="stepwizard-step">
          <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
          <p>Perhatian</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
          <p>Jenis Permohonan</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
          <p>Identitas Pemohon</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
          <p>Anggota Keluarga</p>
        </div>
      </div>
    </div>
    
    <form role="form" method="POST" action="{{ url_for('family_identity.add') }}save">
      <div class="row step-content" id="step-1">
        <div class="col-sm-12">
          <h4>Harap baca baik-baik !!!</h4>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
          <p>Lorem impum dorem</p>
        </div>
        <div class="col-sm-10">
          <button class="btn btn-primary btn-next pull-right" type="button" >Saya Setuju</button>
        </div>
      </div>
      
      <div class="row step-content" id="step-2">
        <div class="col-sm-12">
          <h4>Jenis Permohonan</h4>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
          <div class="col-sm-4 col-sm-offset-2">
            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="" data-original-title="Renters you approve will be able to take this boat">
              <input type="radio" name="tipe-kk" value="baru">
              <div class="icon">
                <i class="fa fa-life-ring"></i>
              </div>
              <h5>KK Baru</h5>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="choice active" data-toggle="wizard-radio" rel="tooltip" title="" data-original-title="Select this option if you or a certified captain will be included.">
              <input type="radio" name="tipe-kk" value="numpang">
              <div class="icon">
                <i class="fa fa-male"></i>
              </div>
              <h5>Menumpang KK</h5>
            </div>
          </div>
        </div>
        
        <div class="col-xs-12 tipe-kk" id="tipe-kk-baru">
          <div class="col-sm-12">
            <h4>Alasan Permohonan KK Baru</h4>
          </div>
          <div class="col-sm-6 col-sm-offset-3 option">
            <div class="radio">
              <input type="radio" name="alasan-baru" id="radio11" value="1" checked="">
              <label for="radio11">Karena Membentuk Rumah Tangga Baru</label>
            </div>
            <div class="radio">
              <input type="radio" name="alasan-baru" id="radio12" value="2">
              <label for="radio12">Karena Kartu Keluarga Hilang/Rusak</label>
            </div>
            <div class="radio">
              <input type="radio" name="alasan-baru" id="radio13" value="3">
              <label for="radio13">Lainnya</label>
            </div>
          </div>
        </div>
        
        <div class="col-xs-12 tipe-kk" id="tipe-kk-numpang">
          <div class="col-sm-12">
            <h4>Alasan Permohonan KK Menumpang</h4>
          </div>
          <div class="col-sm-6 col-sm-offset-3 option">
            <div class="radio">
              <input type="radio" name="alasan-numpang" id="radio21" value="1" checked="">
              <label for="radio21">Karena Kartu Keluarga dibawa Pindah oleh Kepala Keluarga</label>
            </div>
            <div class="radio">
              <input type="radio" name="alasan-numpang" id="radio22" value="2">
              <label for="radio22">Karena Pindah Tempat Tinggal namun tidak membawa Kartu Keluarga</label>
            </div>
            <div class="radio">
              <input type="radio" name="alasan-numpang" id="radio23" value="3">
              <label for="radio23">Karena Pindah Tempat Tinggal</label>
            </div>
          </div>
        </div>
        
        <div class="col-sm-10">
          <button class="btn btn-primary btn-next pull-right" type="button" >Lanjutkan</button>
        </div>
      </div>
      
      <div class="row step-content" id="step-3">
        <div class="col-sm-12">
          <h4>Identitas Pemohon</h4>
        </div>
        
        <div class="col-sm-10 col-sm-offset-1" style="text-align: left;">
          <div class="col-sm-6">
            <div class="form-group">
              <label>NIK Pemohon</label>
              <input type="text" name="nik-pemohon" class="form-control" placeholder="NIK Pemohon" autocomplete="off" data-provide="typeahead" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>No. KK Semula</label>
              <input type="text" name="kk-pemohon" class="form-control" placeholder="No. KK Semula" autocomplete="off" data-provide="typeahead" readonly />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Propinsi</label>
              <input type="text" name="prop-pemohon" class="form-control" placeholder="Propinsi" autocomplete="off" data-provide="typeahead" />
            </div>
            <div class="form-group">
              <label>Kabupaten/Kota</label>
              <input type="text" name="kab-pemohon" class="form-control" placeholder="Kabupaten/Kota" autocomplete="off" data-provide="typeahead" />
            </div>
            <div class="form-group">
              <label>Kecamatan</label>
              <input type="text" name="kec-pemohon" class="form-control" placeholder="Kecamatan" autocomplete="off" data-provide="typeahead" />
            </div>
            <div class="form-group">
              <label>Desa/Kelurahan</label>
              <input type="text" name="kel-pemohon" class="form-control" placeholder="Desa/Kelurahan" autocomplete="off" data-provide="typeahead" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Alamat Pemohon</label>
              <textarea name="alamat-pemohon" class="form-control valid" placeholder="Alamat" rows="9" cols="3" aria-invalid="false"></textarea>
            </div>
          </div>
          <div class="col-sm-6">            
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" name="rt-pemohon" class="form-control" placeholder="RT" autocomplete="off" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" name="rw-pemohon" class="form-control" placeholder="RW" autocomplete="off" />
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-10">
          <button class="btn btn-primary btn-next pull-right" type="button" >Lanjutkan</button>
        </div>
      </div>
      
      <div class="row step-content" id="step-4">
        <div class="col-sm-12">
          <h4>Anggota Keluarga</h4>
        </div>
        
        <div class="table-responsive col-sm-12">
          <table class="table table-striped art-list" cellspacing="0" cellpadding="0">
            <thead>
              <tr>
                <th>#</th>
                <th>NIK</th>
                <th>Nama Anggota Keluarga</th>
                <th class="actions">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr class="art" id="row-1">
                <td class="idx" id="col-idx-1">1</td>
                <td id="col-nik-1">
                  <input type="text" name="nik-anggota[]"  placeholder="NIK" class="form-control" autocomplete="off" data-provide="typeahead" readonly />
                </td>
                <td id="col-nama-1">
                  <input type="text" name="nama-anggota[]" placeholder="Nama Lengkap" class="form-control" autocomplete="off" data-provide="typeahead" />
                </td>
                <td class="actions">
                  <a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-art-modal">Hapus</a>
                </td>
              </tr>
            </tbody>
          </table>
          <a id="add-row" class="btn btn-default pull-left">Add Row</a>
        </div>
        
        <div class="col-sm-10">
          <button class="btn btn-success pull-right" type="submit">Simpan</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block tail %}
    {% if use_template: %}
      {{ super() }}
    {% endif %}

    <script src="{{ url_for('static', filename='assets/typeahead.js/bootstrap-typeahead.js') }}"></script>
    <script>
      // Wizard control
      var navListItems = $('div.step-header div a'),
          allWells = $('.step-content'),
          allNextBtn = $('.btn-next');
      
      allWells.hide();
      navListItems.click(function (e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
        $item = $(this);

        if (!$item.hasClass('disabled')) {
          navListItems.removeClass('btn-primary').addClass('btn-default');
          $item.addClass('btn-primary');
          allWells.hide();
          $target.show();
          $target.find('input:eq(0)').focus();
        }
      });
      
      allNextBtn.click(function(){
        steps = $('.stepwizard-step')
        steps.css('width', (100/steps.length) + "%")

        var curStep = $(this).closest(".step-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.step-header div a[href="#' + curStepBtn + '"]').parent().next().children("a");

        nextStepWizard.removeAttr('disabled').trigger('click');
      });

      // Radio control
      $('[data-toggle="wizard-radio"]').click(function(){
      wizard = $(this).closest('.step-content');
        wizard.find('[data-toggle="wizard-radio"]').removeClass('active');
        $(this).addClass('active');
        $(wizard).find('[type="radio"]').removeAttr('checked');
        $(this).find('[type="radio"]').attr('checked','true').change();
      });
      
      // Tipe KK control
      $(".tipe-kk").hide()
      $('input[name=tipe-kk]').on('change', function() {
        var tipe = $(this).val();
        $(".tipe-kk").hide()
        $("#tipe-kk-" + tipe).show()
      });
      
      // Submit control
      $("form").formValidation({
        formSuccess: 'success.form.fv',
        message: 'This value is not valid',
        fields: {
          'nik-pemohon': {
            validators: {
              notEmpty: {
                message: 'The username is required and can\'t be empty'
              }
            }
          }
        }
      }).on('success.form.fv', function(e) {
        var data = $(this).serializeObject()  
        $(this).find("input[data-provide=typeahead]").each(function(idx) {
          if(typeof data[$(this).attr("name")] === 'string') {
            data[$(this).attr("name")] = $(this).attr("data-value");
          } else {
            var inp = $(this)
            var arrData = data[$(this).attr("name")]
            arrData.forEach(function(d, i) {
              if(d==inp.val()) {
                arrData[i] = inp.attr("data-value")
              }
            })
            data[$(this).attr("name")] = arrData
          }
        })
        
        $.post($(this).attr('action'), data, function(resp) {
          alert("success")
        }, 'json');
        
        e.preventDefault();
      })
      
      // Autocomplete control
      // Population
      pddk = $("input[name=nik-pemohon]").typeahead({
        ajax: { 
          url: '/api/population/query/', 
          valueField: "nik", 
          displayField: "nama",
        }, onSelect: function(item) {
          $(pddk).attr('data-value', item.value)
          $.get('/population/api/id/'+ item.value +'/', function(pop) {
            $("input[name=kk-pemohon]")
              .val(pop.no_kk)
              .attr('data-value', pop.no_kk)
          })
        },
      });
      
      // Propinsi
      var kel, kec, kab, prop = $("input[name=prop-pemohon]").typeahead({
        ajax: { 
          url: '/master/api/province/list/', 
          valueField: "kd_propinsi", 
          displayField: "nama_propinsi",
        }, onSelect: function(item) {
          $(prop).attr('data-value', item.value)
          
          // Kabupaten
          kab = $("input[name=kab-pemohon]").typeahead({
            ajax: { 
              url: '/master/api/regency/list/prov/' + prop.attr('data-value'), 
              valueField: "kd_kabupaten", 
              displayField: "nama_kabupaten",
            }, onSelect: function(item) {
              $(kab).attr('data-value', item.value)
              
              // Kecamatan
              kec = $("input[name=kec-pemohon]").typeahead({
                ajax: { 
                  url: '/master/api/subdistrict/list/prov/'+ $(prop).attr('data-value') +'/regency/'+ $(kab).attr('data-value'), 
                  valueField: "kd_kecamatan", 
                  displayField: "nama_kecamatan",
                }, onSelect: function(item) {
                  $(kec).attr('data-value', item.value)
                  
                  // Kelurahan
                  kel = $("input[name=kel-pemohon]").typeahead({
                    ajax: { 
                      url: '/master/api/village/list/prov/'+ $(prop).attr('data-value') +'/regency/'+ $(kab).attr('data-value') +'/subdistrict/'+ $(kec).attr('data-value'), 
                      valueField: "kd_kelurahan", 
                      displayField: "nama_kelurahan",
                    }, onSelect: function(item) {
                      $(kel).attr('data-value', item.value)
                    },
                  });
                },
              });
            },
          });
        },
      });
      
      
      // Add ART control      
      function autocompleteART(inpNama) {
        var inpNik = $(inpNama).parent().parent().find("input[name='nik-anggota[]']")
        
        $(inpNama).removeData('typeahead')
        $(inpNama).typeahead({
          ajax: { 
            url: '/api/population/query/', 
            valueField: "nik", 
            displayField: "nama",
          }, onSelect: function(item) {
            $(inpNama).attr('data-value', item.value)
            $(inpNik).val(item.value)
              .attr('data-value', item.value)
          },
        });
      }
      
      $(".art input[name='nama-anggota[]']").on('focus', function() {
        autocompleteART($(this))
      })
      
      $("#add-row").on('click', function(){
        lastIdx = $($('.art')[$('.art').length-1]).find('.idx').html()
        $('<tr class="art" id="row-'+ (parseInt(lastIdx)+1) +'">\
          <td class="idx" id="col-idx-'+ (parseInt(lastIdx)+1) +'">'+ (parseInt(lastIdx)+1) +'</td>\
          <td id="col-nik-'+ (parseInt(lastIdx)+1) +'">\
            <input type="text" name="nik-anggota[]"  placeholder="NIK" class="form-control" autocomplete="off" data-provide="typeahead" readonly />\
          </td>\
          <td id="col-nama-'+ (parseInt(lastIdx)+1) +'">\
            <input type="text" name="nama-anggota[]" placeholder="Nama Lengkap" class="form-control" autocomplete="off" data-provide="typeahead" />\
          </td>\
          <td class="actions">\
            <a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-art-modal">Hapus</a>\
          </td>\
        </tr>').appendTo($('.art-list tbody'))
        
        $(".art input[name='nama-anggota[]']").off("focus").on('focus', function() {
          autocompleteART($(this))
        })
      });
      $('div.step-header div a.btn-primary').trigger('click');
    </script>
{% endblock %}