{% extends 'frontpage.html' %}
{% block title %}Daftar Permohonan Pembuatan Akta Lahir{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
  <div id="main" class="container-fluid">
    <div id="top" class="row">
      <div class="col-md-3">
        <h2>Daftar Permohonan</h2>
      </div>

    <div id="list" class="row">
      <div class="table-responsive col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th>ID Permohonan</th>
              <th>Pemohon</th>
              <th>No. Kartu Keluarga</th>
			  <th>No. Akta Nikah</th>
			  <th>No. Surat Lahir</th>
			  <th>Nama Bayi</th>
              <th>Status Permohonan</th>
            </tr>
          </thead>
          <tbody>
            {% for permohonan in permohonans %}
            <tr>
              <td>{{ permohonan.id_permohonan }}</td>
			  <td>{{ permohonan.nik_pemohon.nama }}</td>
              <td>{{ permohonan.no_kk }}</td>
			  <td>{{ permohonan.no_akta_nikah }}</td>
              <td>{{ permohonan.no_surat_lahir }}</td>
              <td>{{ permohonan.nama_bayi }}</td>
			  <td>{{ permohonan.status_verifikasi.nama_verifikasi_akta }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div> <!-- /#list -->
	
	 <div id="bottom" class="row">
      <div class="col-md-12">
        <ul class="pagination">
          <li class="disabled"><a>&lt; Prev</a></li>
          <li class="disabled"><a>1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li class="next"><a href="#" rel="next">Next &gt;</a></li>
        </ul><!-- /.pagination -->
      </div>
    </div> <!-- /#bottom -->
  </div>  <!-- /#main -->
  
{% endblock %}

{% block tail %}
  {{ super() }}
  <script>
    // Add Keluarga
    $("#add-modal")
    .on("show.bs.modal", function(e) {
      var modal = $(this).find(".modal-body").append(
        $('<div>').css('text-align','center').append(
          $('<i>').attr('class', 'fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom')
        )
      );
    })
    .on("shown.bs.modal", function(e) {
      var modal = $(this);
      var link = $(e.relatedTarget);
      modal.find(".modal-body").load(link.attr("href") + "?no-template", function() {
        modal.find(".modal-body .container").removeClass("container")
      });
    })
    .on("hidden.bs.modal", function() {
      $(this).find(".modal-body").empty()
    })
    
    // View Keluarga
    $("#view-modal")
    .on("show.bs.modal", function(e) {
      var modal = $(this).find(".modal-body").append(
        $('<div>').css('text-align','center').append(
          $('<i>').attr('class', 'fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom')
        )
      );
    })
    .on("shown.bs.modal", function(e) {
      
    })
    .on("hidden.bs.modal", function() {
      $(this).find(".modal-body").empty()
    })
    
    // Edit Keluarga
    $("#edit-modal")
    .on("show.bs.modal", function(e) {
      var modal = $(this).find(".modal-body").append(
        $('<div>').css('text-align','center').append(
          $('<i>').attr('class', 'fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom')
        )
      );
    })
    .on("shown.bs.modal", function(e) {
      
    })
    .on("hidden.bs.modal", function() {
      $(this).find(".modal-body").empty()
    })
    
    $("#delete-modal").on('show.bs.modal', function () {
      alert('The modal is about to be shown.');
    });
  </script>
{% endblock %}